body{
    min-width: 960px;
}
.title{
    text-align: center;
}
.login{
    display: flex;
    width: fit-content;
    padding: 20px;
    flex-direction: row;
    justify-content: center;
    background-color: lightcoral;
    border-radius: 10px;
    margin: auto;
}
.signup{
    display: flex;
    width: fit-content;
    padding: 20px;
    flex-direction: row;
    justify-content: center;
    border-radius: 10px;
    margin: auto;
}
input{
    padding: 10px;
    margin: 10px;
}
.login-btn{
    display: flex;
    justify-content: space-between;
}
.signup-btn{
    width: fit-content;
    margin: auto;
}
button{
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
}

nav{
    margin-bottom: 50px;
    padding:20px 0px;
    background-color: lightskyblue;
}

.nav-item{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

li a{
    text-decoration: none;
    color: rebeccapurple;
    font-size: x-large;
}

.form-item{
    display: flex;
    justify-content: space-between;
}

label{
    margin: auto;
}